<h1>Hello World</h1>
<%="I love talking about books, today i am currently rading, Renegades by Marrisa Meyer. "%>
<%= "I Love " + "Ruby "%>
<%= 1 + 2 %>

<h1>WELCOME TO SHORT GIRL BIG BOOKS</h1>
<div>1 + 2</div>

<P> 1 equal to 2</P>
 <% if 1 == 2 %>
 <% else %>
 <p> Books are really great learning tools. </p>
 <% end %>
 
 <% comments = ['You have great taste in books wowzers', , 'your blog is awesome', 'great job'] %>